$num_cols_medium: 8;
$num_cols_large: 6;
$max-width-small: 767px;
$max-width-medium: 1024px;

@mixin respond-to($mediaList) {
  @if index($mediaList, small) {
    @media only screen and (max-width: $max-width-small) { @content; }
  }
  @if index($mediaList, medium) {
    @media only screen and (min-width: $max-width-small + 1) and (max-width: $max-width-medium) { @content; }
  }
  @if index($mediaList, large) {
    @media only screen and (min-width: $max-width-medium + 1) { @content; }
  }
}

html, body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
  margin: 0;
  padding: 0;
	width: 100%;
}

.container {
  bottom: 0;
  left: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
	margin: 24px (100% / $num_cols_medium);
  @include respond-to(large) {
    margin: 24px (100% / $num_cols_large);
  }
  position: absolute;
}

.content.map-mode .map-container {
  @include respond-to(small) { display: initial; }
}

.content.map-mode .form-container {
  @include respond-to(small) { display: none; }
}

.content .results-container {
  @include respond-to(small) { visibility: hidden; }
}

.content.map-mode .results-container {
  @include respond-to(small) { visibility: initial; }
}

.form-map-container {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 100%;
}

/** Form ========================================================= */

.form-container {
  width: 100%;
  @include respond-to((medium, large)) { padding-right: 48px; }
}

.slider-container {
  display: flex;
  flex-direction: column;
  margin: 28px 0 8px;
  /* TODO: Enable this when ready to add settings. */
  /*display: none;*/
}

.slider-header {
}

/** Map ========================================================= */

.map-container {
  max-width: 300px;
  width: 100%;
  @include respond-to(small) { display: none; }
}

.map-header-container {
  align-items: center;
  display: flex;
}

.back-button-container {
  @include respond-to((medium, large)) { display: none; }
  flex: 1 0 auto;
}

.map-title {
  @include respond-to(small) { display: none; }
  flex: 1 0 auto;
}

.map-iframe-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}

.map-iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/** Results ========================================================= */

.results-container {
  height: 100%;
  margin: 20px 0 100px;
  overflow: scroll;
}
