/* cyan400 */
/* blueGrey600 */
/* cyan50 */
/* grey500 */
/* grey700 */
html, body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

.app-title {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  justify-content: center;
  padding: 8px 0; }
  @media only screen and (max-width: 480px) {
    .app-title {
      font-size: 1.75em; } }
  @media only screen and (max-width: 767px) {
    .app-title {
      font-size: 1.75em; } }

.app-title, .content {
  margin: 0px 12.5%; }
  @media only screen and (max-width: 480px) {
    .app-title, .content {
      margin: 0; } }
  @media only screen and (max-width: 767px) {
    .app-title, .content {
      margin: 0; } }
  @media only screen and (min-width: 1025px) {
    .app-title, .content {
      margin: 0px 16.66667%; } }

.container {
  background-color: #E0F7FA;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%; }
  @media only screen and (max-width: 480px) {
    .container {
      background-color: white; } }
  @media only screen and (max-width: 767px) {
    .container {
      background-color: white; } }

.container a {
  color: #546E7A;
  text-decoration: none; }

.container a:hover {
  color: #26C6DA; }

.content {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px 24px 4px; }
  @media only screen and (max-width: 480px) {
    .content {
      align-items: center; } }
  @media only screen and (max-width: 767px) {
    .content {
      align-items: center; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .content {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); } }
  @media only screen and (min-width: 1025px) {
    .content {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); } }
  @media only screen and (max-width: 480px) {
    .content {
      padding: 8px 12px; } }
  @media only screen and (max-width: 480px) {
    .content {
      padding-top: 0px; } }
  @media only screen and (max-width: 767px) {
    .content {
      padding-top: 0px; } }

@media only screen and (max-width: 480px) {
  .container:not(.map-mode) .content {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; } }
@media only screen and (max-width: 767px) {
  .container:not(.map-mode) .content {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; } }

@media only screen and (max-width: 480px) {
  .container.map-mode .app-title {
    display: none; } }
@media only screen and (max-width: 767px) {
  .container.map-mode .app-title {
    display: none; } }

@media only screen and (max-width: 767px) {
  .container.map-mode .map-container {
    display: initial; } }

@media only screen and (max-width: 767px) {
  .container.map-mode .form-container {
    display: none; } }

@media only screen and (max-width: 767px) {
  .container .results-container {
    visibility: hidden; } }

@media only screen and (max-width: 767px) {
  .container.map-mode .results-container {
    visibility: visible; } }

.container.map-mode .results-table {
  display: table; }

.container .results-table,
.container.map-mode .onboarding-container {
  display: none; }

.onboarding-container {
  max-width: 550px; }

.form-map-container {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .form-map-container {
      max-width: 550px; } }

/** Form ========================================================= */
.form-container {
  width: 100%; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .form-container {
      padding-right: 48px; } }
  @media only screen and (min-width: 1025px) {
    .form-container {
      padding-right: 48px; } }

.text-field-container {
  position: relative; }

.text-field-close-button {
  right: 0; }

.text-field-close-button:hover .text-field-close-icon {
  fill: #616161; }

.text-field-close-icon {
  fill: #9E9E9E;
  height: 18px;
  width: 18px; }

.slider-container {
  display: flex;
  flex-direction: column;
  margin: 14px 0 8px; }

.yelp-image {
  float: right; }

.yelp-image img {
  width: 65px; }

/** Map ========================================================= */
.map-container {
  max-width: 300px;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .map-container {
      display: none; } }

.map-header-container {
  align-items: center;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.back-button-container {
  flex: 1 0 auto; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .back-button-container {
      display: none; } }
  @media only screen and (min-width: 1025px) {
    .back-button-container {
      display: none; } }

.map-title {
  flex: 1 0 auto;
  margin: 8px 0; }
  @media only screen and (max-width: 767px) {
    .map-title {
      display: none; } }

.map-iframe-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative; }

.map-iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

/** Results ========================================================= */
.results-container {
  margin-top: 12px;
  max-height: 100%;
  overflow: auto;
  padding-bottom: 4px;
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch; }

@media only screen and (max-width: 480px) {
  .container:not(.map-mode) .results-container {
    overflow: initial; } }
@media only screen and (max-width: 767px) {
  .container:not(.map-mode) .results-container {
    overflow: initial; } }

.results-table {
  display: table; }

.results-container.loading .results-table {
  display: none; }

.circular-progress {
  padding-top: 48px; }

.yelp-star-img {
  vertical-align: middle; }
  @media only screen and (max-width: 767px) {
    .yelp-star-img {
      max-width: 60px; } }

.header-column {
  overflow: hidden; }

@media only screen and (max-width: 767px) {
  .column-short {
    width: 25%; } }

/** Onboarding ======================================================= */
.onboarding-container {
  display: flex;
  margin: 0 auto;
  overflow-y: auto;
  visibility: initial;
  width: 100%; }
  @media only screen and (max-width: 480px) {
    .onboarding-container {
      overflow-y: initial; } }
  @media only screen and (max-width: 767px) {
    .onboarding-container {
      overflow-y: initial; } }
  @media only screen and (max-width: 480px) {
    .onboarding-container {
      flex-direction: column;
      height: 100%; } }

@media only screen and (max-width: 480px) {
  .container:not(.map-mode) .onboarding-container {
    overflow-y: initial; } }
@media only screen and (max-width: 767px) {
  .container:not(.map-mode) .onboarding-container {
    overflow-y: initial; } }

.onboarding-card {
  cursor: pointer;
  height: initial; }

.onboarding-card + .onboarding-card {
  margin: 0 0 0 8px; }
  @media only screen and (max-width: 480px) {
    .onboarding-card + .onboarding-card {
      margin: 8px 0 0; } }

/*# sourceMappingURL=app.css.map */
