$num_cols_medium: 8;
$num_cols_large: 6;
$max-width-xsmall: 480px;
$max-width-small: 767px;
$max-width-medium: 1024px;

$primary-color: #26C6DA; /* cyan400 */
$secondary-color: #546E7A; /* blueGrey600 */
$tertiary-color: #E0F7FA; /* cyan50 */

$light-grey: #9E9E9E; /* grey500 */
$dark-grey: #616161; /* grey700 */

$header-font: 'Roboto', sans-serif;
$body-font: 'Roboto', sans-serif;

@mixin respond-to($mediaList) {
  @if index($mediaList, xsmall) {
    @media only screen and (max-width: $max-width-xsmall) { @content; }
  }
  @if index($mediaList, small) {
    @media only screen and (max-width: $max-width-small) { @content; }
  }
  @if index($mediaList, medium) {
    @media only screen and (min-width: $max-width-small + 1) and (max-width: $max-width-medium) { @content; }
  }
  @if index($mediaList, large) {
    @media only screen and (min-width: $max-width-medium + 1) { @content; }
  }
}

html, body {
	font-family: $body-font;
	height: 100%;
  margin: 0;
  padding: 0;
	width: 100%;
}

.app-title {
  display: flex;
  font-family: $header-font;
  font-size: 2.5em;
  @include respond-to((xsmall, small)) { font-size: 1.75em; }
  font-weight: 400;
  justify-content: center;
  padding: 8px 0;
}

.app-title, .content {
  margin: 0px (100% / $num_cols_medium);
  @include respond-to((xsmall, small)) {
    margin: 0;
  }
  @include respond-to(large) {
    margin: 0px (100% / $num_cols_large);
  }
}

.container {
  background-color: $tertiary-color;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  @include respond-to((xsmall, small)) {
    background-color: white;
  }
}

.container a {
  color: $secondary-color;
  text-decoration: none;
}

.container a:hover {
  color: $primary-color;
}

.content {
  @include respond-to((xsmall, small)) { align-items: center; }
  background-color: white;
  display: flex;
  @include respond-to((medium, large)) {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  flex-direction: column;
  height: 100%;
  padding: 8px 24px 4px;
  @include respond-to(xsmall) { padding: 8px 12px; }
  @include respond-to((xsmall, small)) { padding-top: 0px; }
}

.container:not(.map-mode) .content {
  @include respond-to((xsmall, small)) {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; 
  }
}

.container.map-mode .app-title {
  @include respond-to((xsmall, small)) { display: none; }
}

.container.map-mode .map-container {
  @include respond-to(small) { display: initial; }
}

.container.map-mode .form-container {
  @include respond-to(small) { display: none; }
}

.container .results-container {
  @include respond-to(small) { visibility: hidden; }
}

.container.map-mode .results-container {
  @include respond-to(small) { visibility: visible; }
}

.container.map-mode .results-table {
  display: table;
}

.container .results-table,
.container.map-mode .onboarding-container {
  display: none;
}

.onboarding-container {
  max-width: 550px;
}

.form-map-container {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  @include respond-to(small) { max-width: 550px; }
  position: relative;
  width: 100%;
}

/** Form ========================================================= */

.form-container {
  width: 100%;
  @include respond-to((medium, large)) { padding-right: 48px; }
}

.text-field-container {
  position: relative;
}

.text-field-close-button {
  right: 0;
}

.text-field-close-button:hover .text-field-close-icon {
  fill: $dark-grey;
}

.text-field-close-icon {
  fill: $light-grey;
  height: 18px;
  width: 18px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  margin: 14px 0 8px;
}

.yelp-image {
  float: right;
}

.yelp-image img {
  width: 65px;
}

/** Autocomplete ========================================================= */
.react-autosuggest__suggestions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__suggestions-container--open {
  position: absolute;
  width: 100%;
  z-index: 10;
}

/** Map ========================================================= */

.map-container {
  max-width: 300px;
  width: 100%;
  @include respond-to(small) { display: none; }
}

.map-header-container {
  align-items: center;
  display: flex;
  font-family: $header-font;
  font-weight: 400;
}

.back-button-container {
  @include respond-to((medium, large)) { display: none; }
  flex: 1 0 auto;
}

.map-title {
  @include respond-to(small) { display: none; }
  flex: 1 0 auto;
  margin: 8px 0;
}

.map-iframe-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}

.map-iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/** Results ========================================================= */
.results-container {
  margin-top: 12px;
  max-height: 100%;
  overflow: auto;
  padding-bottom: 4px;
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch; 
}

.container:not(.map-mode) .results-container {
  @include respond-to((xsmall, small)) { overflow: initial; }
}

.results-table {
  display: table;
}

.results-container.loading .results-table {
  display: none;
}

.circular-progress {
  padding-top: 48px;
}

.yelp-star-img {
  @include respond-to(small) { max-width: 60px; }
  vertical-align: middle;
}

.header-column {
  overflow: hidden;
}

.column-short {
  @include respond-to(small) { width: 25%; }
}

/** Onboarding ======================================================= */
.onboarding-container {
  display: flex;
  margin: 0 auto;
  overflow-y: auto;
  @include respond-to((xsmall, small)) { overflow-y: initial; }
  visibility: initial;
  width: 100%;
  @include respond-to(xsmall) {
    flex-direction: column;
    height: 100%;
  }
}

.container:not(.map-mode) .onboarding-container {
  @include respond-to((xsmall, small)) { overflow-y: initial; }
}

.onboarding-card {
  cursor: pointer;
  height: initial;
}

.onboarding-card + .onboarding-card {
  margin: 0 0 0 8px;
  @include respond-to(xsmall) {
    margin: 8px 0 0;
  }
}
