$num_cols_medium: 8;
$num_cols_large: 6;
$max-width-xsmall: 480px;
$max-width-small: 767px;
$max-width-medium: 1024px;

$primary-color: #3F51B5; /* Indigo 500 */
$secondary-color: #F4511E; /* Deep Orange 600 */
$tertiary-color: #E8EAF6; /* Indigo 50 */

$header-font: 'Lato' , cursive;
$body-font: 'Roboto', sans-serif;

@mixin respond-to($mediaList) {
  @if index($mediaList, xsmall) {
    @media only screen and (max-width: $max-width-xsmall) { @content; }
  }
  @if index($mediaList, small) {
    @media only screen and (max-width: $max-width-small) { @content; }
  }
  @if index($mediaList, medium) {
    @media only screen and (min-width: $max-width-small + 1) and (max-width: $max-width-medium) { @content; }
  }
  @if index($mediaList, large) {
    @media only screen and (min-width: $max-width-medium + 1) { @content; }
  }
}

html, body {
	font-family: $body-font;
	height: 100%;
  margin: 0;
  padding: 0;
	width: 100%;
}

.app-title {
  @include respond-to((medium, large)) {
    display: flex;
  }
  display: none;
  font-family: $header-font;
  font-size: 2.5em;
  font-weight: 700;
  justify-content: center;
  padding: 8px 0;
}

.app-title, .content {
  margin: 0px (100% / $num_cols_medium);
  @include respond-to((xsmall, small)) {
    margin: 0;
  }
  @include respond-to(large) {
    margin: 0px (100% / $num_cols_large);
  }
}

.container {
  background-color: $tertiary-color;
  bottom: 0;
  left: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.container a {
  color: $secondary-color;
  text-decoration: none;
}

.container a:hover {
  color: $primary-color;
}

.content {
  @include respond-to((xsmall, small)) { align-items: center; }
  background-color: white;
  display: flex;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  flex-direction: column;
  height: calc(100% - 100px);
  @include respond-to((xsmall, small)) { height: 100%; }
  padding: 8px 24px 4px;
  @include respond-to(xsmall) { padding: 8px 12px 4px; }
}

.content.map-mode .map-container {
  @include respond-to(small) { display: initial; }
}

.content.map-mode .form-container {
  @include respond-to(small) { display: none; }
}

.content .results-container {
  @include respond-to(small) { visibility: hidden; }
}

.content.map-mode .results-container {
  @include respond-to(small) { visibility: visible; }
}

.form-map-container {
  display: flex;
  flex: 0 0 auto;
  @include respond-to(small) { max-width: 550px; }
  justify-content: center;
  position: relative;
  width: 100%;
}

/** Form ========================================================= */

.form-container {
  width: 100%;
  @include respond-to((medium, large)) { padding-right: 48px; }
}

.slider-container {
  display: flex;
  flex-direction: column;
  margin: 14px 0 8px;
  /* TODO: Enable this when ready to add settings. */
  /*display: none;*/
}

.yelp-image {
  float: right;
}

.yelp-image img {
  width: 65px;
}

/** Map ========================================================= */

.map-container {
  max-width: 300px;
  width: 100%;
  @include respond-to(small) { display: none; }
}

.map-header-container {
  align-items: center;
  display: flex;
  font-family: $header-font;
}

.back-button-container {
  @include respond-to((medium, large)) { display: none; }
  flex: 1 0 auto;
}

.map-title {
  @include respond-to(small) { display: none; }
  flex: 1 0 auto;
  margin: 8px 0;
}

.map-iframe-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}

.map-iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/** Results ========================================================= */
.results-container {
  height: 100%;
  margin-top: 12px;
  overflow: scroll;
}

.yelp-star-img {
  @include respond-to(small) { max-width: 60px; }
  vertical-align: middle;
}

.header-column {
  overflow: hidden;
}

.column-short {
  @include respond-to(small) { width: 25%; }
}

/** Onboarding ======================================================= */
.onboarding-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  visibility: initial;
}

.onboarding-container p {
  color: $primary-color;
  cursor: pointer;
}

.onboarding-container p:hover {
  color: $secondary-color;
}
