$max-width-xsmall: 480px;
$max-width-small: 767px;
$max-width-medium: 1024px;

$primary-color: #26C6DA; /* cyan400 */
$secondary-color: #546E7A; /* blueGrey600 */
$tertiary-color: #E0F7FA; /* cyan50 */

$light-grey: #9E9E9E; /* grey500 */
$dark-grey: #616161; /* grey700 */

$header-font: 'Courgette', serif;
$body-font: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

@mixin respond-to($mediaList) {
  @if index($mediaList, xsmall) {
    @media only screen and (max-width: $max-width-xsmall) { @content; }
  }
  @if index($mediaList, small) {
    @media only screen and (max-width: $max-width-small) { @content; }
  }
  @if index($mediaList, medium) {
    @media only screen and (min-width: $max-width-small + 1) and (max-width: $max-width-medium) { @content; }
  }
  @if index($mediaList, large) {
    @media only screen and (min-width: $max-width-medium + 1) { @content; }
  }
}

html, body {
	font-family: $body-font;
	height: 100%;
  margin: 0;
  padding: 0;
	width: 100%;
}

.app-title {
  display: flex;
  font-family: $header-font;
  font-size: 2.5em;
  @include respond-to((xsmall, small)) { font-size: 1.75em; }
  font-weight: 400;
  @include respond-to((xsmall, small)) { justify-content: center; }
  padding: 8px 0;
  @include respond-to((medium, large)) { padding: 8px 0 8px 22px; }
}

.app-title, .content {
  margin: 0px 36px;
  @include respond-to((xsmall, small)) {
    margin: 0;
  }
  @include respond-to(large) {
    margin: 0px 6%;
  }
}

.container {
  background: rgb(255,250,208);
  background: linear-gradient(245deg, rgba(255,250,208,1) 0%, rgba(231,251,254,1) 100%);
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  @include respond-to((xsmall, small)) {
    background: white;
  }
}

.container a {
  color: $secondary-color;
  text-decoration: none;
}

.container a:hover {
  color: $primary-color;
}

.content {
  background-color: white;
  border-radius: 2px;
  display: flex;
  @include respond-to((medium, large)) {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  height: 100%;
  @include respond-to((xsmall, small)) { justify-content: center; }
  padding: 8px 24px 4px;
  @include respond-to(xsmall) { padding: 8px 12px; }
  @include respond-to((xsmall, small)) { padding-top: 0px; }
}

.container:not(.map-mode) .content {
  @include respond-to((xsmall, small)) {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; 
  }
}

.container.map-mode .app-title {
  @include respond-to((xsmall, small)) { display: none; }
}

.container.map-mode .map-container {
  @include respond-to(small) { display: initial; }
}

.container.map-mode .form-container {
  @include respond-to(small) { display: none; }
}

.container .results-container {
  @include respond-to(small) { display: none; }
}

.container.map-mode .results-container {
  @include respond-to(small) { display: flex; }
}

.container.map-mode .form-map-container {
  @include respond-to(small) { display: none; }
}

.container.map-mode .results-table {
  display: table;
}

.container .results-table {
  display: none;
}

.onboarding-container {
  max-width: 550px;
}

.form-map-container {
  display: flex;
  @include respond-to(medium) { flex: 0 0 300px; }
  @include respond-to(large) { flex: 0 0 33%; }
  flex-direction: column;
  height: 100%;
  justify-content: center;
  @include respond-to(small) { max-width: 550px; }
  overflow-y: auto;
  position: relative;
  width: 100%;
}

/** Form ========================================================= */

.form-container {
  width: 100%;
}

.text-field-container {
  position: relative;
}

.text-field-close-button {
  right: 0;
}

.text-field-close-button:hover .text-field-close-icon {
  fill: $dark-grey;
}

.text-field-close-icon {
  fill: $light-grey;
  height: 18px;
  width: 18px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  margin: 14px 0 8px;
}

.yelp-image {
  float: right;
}

.yelp-image img {
  width: 65px;
}

/** Autocomplete ========================================================= */
.react-autosuggest__suggestions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__suggestions-container--open {
  position: absolute;
  width: 100%;
  z-index: 10;
}

/** Map ========================================================= */

.map-container {
  display: flex;
  @include respond-to(small) { display: none; }
  flex: 0 0 auto;
  margin: 8px 12px;
  @include respond-to(small) { flex-direction: column; }
}

.map-header-container {
  align-items: center;
  display: none;
  @include respond-to(small) { display: flex; }
}

.back-button-container {
  @include respond-to((medium, large)) { display: none; }
  flex: 1 0 auto;
}

.directions-icon-container {
  @include respond-to((xsmall, small)) { display: none; }
}

.map-iframe-container {
  height: 265px;
  width: 100%;
}

/** Results ========================================================= */
.results-container {
  display: flex;
  flex-direction: column;
  @include respond-to((medium, large)) { margin-left: 16px; }
  max-height: 100%;
  position: relative;
  width: 100%;
}

.container:not(.map-mode) .results-container {
  @include respond-to((xsmall, small)) { overflow: initial; }
}

.results-table-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
}

.results-table {
  display: table;
}

.results-container.loading .results-table {
  display: none;
}

.circular-progress {
  padding-top: 48px;
}

.yelp-star-img {
  @include respond-to(small) { max-width: 60px; }
  vertical-align: middle;
}

.header-column {
  overflow: hidden;
}

.column-short {
  @include respond-to(small) { width: 25%; }
}

/** Onboarding ======================================================= */
.onboarding-container {
  display: flex;
  flex-direction: column;
  margin: 8px auto;
  visibility: initial;
  width: 100%;
  @include respond-to(xsmall) {
    flex-direction: column;
    height: 100%;
  }
}

.onboarding-card {
  cursor: pointer;
  height: initial;
}

.onboarding-card + .onboarding-card {
  margin: 8px 0 0;
}
