/* Indigo 500 */
/* Deep Orange 600 */
/* Indigo 50 */
html, body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

.app-title {
  display: flex;
  font-family: "Lato", cursive;
  font-size: 2.5em;
  font-weight: 700;
  justify-content: center;
  padding: 8px 0; }

.app-title, .content {
  margin: 0px 12.5%; }
  @media only screen and (max-width: 480px) {
    .app-title, .content {
      margin: 0px 16px; } }
  @media only screen and (min-width: 1025px) {
    .app-title, .content {
      margin: 0px 16.66667%; } }

.container {
  background-color: #E8EAF6;
  bottom: 0;
  left: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%; }

.container a {
  color: #F4511E;
  text-decoration: none; }

.container a:hover {
  color: #3F51B5; }

.content {
  background-color: white;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  flex-direction: column;
  height: calc(100% - 100px);
  padding: 8px 24px 4px; }

@media only screen and (max-width: 767px) {
  .content.map-mode .map-container {
    display: initial; } }

@media only screen and (max-width: 767px) {
  .content.map-mode .form-container {
    display: none; } }

@media only screen and (max-width: 767px) {
  .content .results-container {
    visibility: hidden; } }

@media only screen and (max-width: 767px) {
  .content.map-mode .results-container {
    visibility: initial; } }

.form-map-container {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 100%; }

/** Form ========================================================= */
.form-container {
  width: 100%; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .form-container {
      padding-right: 48px; } }
  @media only screen and (min-width: 1025px) {
    .form-container {
      padding-right: 48px; } }

.slider-container {
  display: flex;
  flex-direction: column;
  margin: 14px 0 8px;
  /* TODO: Enable this when ready to add settings. */
  /*display: none;*/ }

.yelp-image {
  float: right; }

.yelp-image img {
  width: 65px; }

/** Map ========================================================= */
.map-container {
  max-width: 300px;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .map-container {
      display: none; } }

.map-header-container {
  align-items: center;
  display: flex;
  font-family: "Lato", cursive; }

.back-button-container {
  flex: 1 0 auto; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .back-button-container {
      display: none; } }
  @media only screen and (min-width: 1025px) {
    .back-button-container {
      display: none; } }

.map-title {
  flex: 1 0 auto;
  margin: 8px 0; }
  @media only screen and (max-width: 767px) {
    .map-title {
      display: none; } }

.map-iframe-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative; }

.map-iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

/** Results ========================================================= */
.results-container {
  height: 100%;
  margin-top: 6px;
  overflow: scroll; }

.yelp-star-img {
  vertical-align: middle; }
  @media only screen and (max-width: 767px) {
    .yelp-star-img {
      max-width: 60px; } }

@media only screen and (max-width: 767px) {
  .results-column-short {
    width: 25%; } }

/** Onboarding ======================================================= */
.onboarding-container {
  display: flex;
  justify-content: center;
  visibility: initial; }

.onboarding-container p {
  color: #3F51B5;
  cursor: pointer; }

.onboarding-container p:hover {
  color: #F4511E; }

/*# sourceMappingURL=app.css.map */
